[Unit]
Description=Business Card Development Site

[Service]
Type=notify
ExecStart=/home/ubuntu/bcarddev.tuldok.dev/BusinessCard.API
User=ubuntu
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:5002
WorkingDirectory=/home/ubuntu/bcarddev.tuldok.dev

[Install]
WantedBy=multi-user.target
