[Unit]
Description=bcarddev restarter
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart bcarddev.service

[Install]
WantedBy=multi-user.target
